{% extends "index.html" %}
{% block title %}LogIn | {{ super() }}{% endblock %}
{% block current_page %}LogIn{% endblock %}

{% block content %}
        <form action="" method='POST'>
            <div class="col-md-4 col-md-offset-4">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password}}
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>

        <button class="btn btn-default"><a href="{{ url_for('users.signup') }}">Sign Up</a></button>

{% endblock %}