{% extends "index.html" %}
{% block title %}Request | {{ super() }}{% endblock %}
{% block current_page %}Request{% endblock %}

{% block content %}
<h2>Post A New Request</h2>


<form action="" method="POST">
  {{ form.csrf_token }}
  <div>
    {{ form.title.label}}
    {{ form.title }}
  </div>
  <div>
    {{ form.author.label }}
    {{ form.author }}
  </div>
  <div>
    {{ form.details.label }}
    {{ form.details }}
  </div>
  
   <div>
    {{ form.weight.label }}
    {{ form.weight }}
  </div>
   <div>
    {{ form.pick_up.label }}
    {{ form.pick_up }}
  </div>
   <div>
    {{ form.drop_off.label }}
    {{ form.drop_off }}
  </div>
  <input type="submit" value="Create">
</form>


{% endblock %}

