{% extends "index.html" %}
{% block title %}Sign Up | {{ super() }}{% endblock %}
{% block current_page %}SignUp{% endblock %}

{% block content %}

        <form action="" method="POST">
            <div class="col-md-4 col-md-offset-4">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password}}
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

{% endblock %}