{% extends "user_index.html" %}
{% block title %}Tasks | {{ super() }}{% endblock %}
{% block current_page %}Tasks{% endblock %}

{% block content %}
	<h2>All Tasks</h2>

	<ul class="tasks">
		{% for task in tasks | sort(attribute='id', reverse = True)%}
			{% if task.status >= 0 %}
			<li class="tasks">
				<h3>{{ task.title }} <small>by {{ task.author }}</small></h3>
				<p>Status: {% if task.status is equalto 0%} New 
            		{% elif task.status is equalto 1%} Assigned 
            		{% elif task.status is equalto 2%} Completed 
            		{% else %} Completed and Accepted {% endif %}</p>
            	<p>Details: {{ task.details }}</p> <a href="{{ url_for('tasks.view', id=task.id) }}">View Post</a>
			</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}
