<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation">
      <a href="{{ url_for('home.home_page') }}">Home</a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('tasks.tasks_page') }}">Tasks</a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('tasks.new_task') }}">Submit New Request</a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('users.view_profile', username=session['Username']) }}">Your Profile</a>
    </li>
    <li role="presentation">
      <a href="{{ url_for('users.logout') }}">Logout</a>
    </li>
  </ul>
</nav>
<h3 class="text-muted">BusyBee</h3>